@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin '@iconify/tailwind4';

@font-face {
    font-family: 'Outfit';
    src: url("/Outfit-VariableFont_wght.ttf") format("truetype");
}

@theme {
    --animate-drift: drift 20s linear infinite;
    @keyframes drift {
        0% {
            transform: translate(0px, 0px);
        }
        100% {
            transform: translate(310px, 236px);
        }
    }

    --font-sans: 'Outfit', sans-serif;
    --bg-nucats: background-color: #1b1b18;
}

@keyframes bgFloat {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(10px, -5px);
    }
    50% {
        transform: translate(20px, 10px);
    }
    75% {
        transform: translate(10px, 15px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}